.school-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
    padding-top: 70px;
    
  }

  .school-name{
      text-align: center;
      padding: 30px;
      font-weight: 200;
      
  }

  .info-section {
    text-align: center;
    border-radius: 15px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.055);
    width: 29%;
    box-shadow: 0 0 1px #0000009d, 0 0 1px #000000, 0 0 1px #000000c0;
    position: relative;
    overflow: hidden;
}

@keyframes dashMove {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 0;
    }
}

.info-section::before,
.info-section::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, transparent 50%, #16dcff 50%);
    background-size: 10px 100%;
    animation: dashMove 10s linear infinite;
}

.info-section::before {
    top: 0;
    left: 0;
}

.info-section::after {
    bottom: 0;
    left: 0;
    animation-delay: 1s;
}

  .info-section h2 {
    color: #41b0ff;
    margin-bottom: 20px;
  }

  .pixel {
    position: absolute;
    width: 10px;
    height: 10px;
    background-size: 150px 150px;
    transition: transform 1s ease-out, opacity 1s ease-out;
  }

  .image-pixel-wrapper {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background: none;
    border-radius: 50%;
  }

  .hint-follow {
    padding: 40px 30px;
    background: none;
    color: #41b0ff;
    text-align: center;
    transition: all 0.1s ease;
  }

  .hint-follow:hover {
    text-shadow: 0 0 5px #41b0ff, 0 0 10px #41b0ff, 0 0 15px #41b0ff;
  }

  .footer {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2em;
    color: #555;
  }

  sup {
    display: inline-block;
    transform: rotate(40deg);
  }
  .percentage-mark{
    text-decoration: none;
    color: aliceblue;
  }
  .percentage-mark:hover{
    color: #16dcff;
  }